<div class="jumbotron text-center">
  <h3 class="display-6">個人住民税(特徴)ファイル(地銀協フォーマット)をe-ltaxの個人住民税(特徴)で取り込めるCSVファイルに変換</h3>
  <hr class="my-4" />
  <form #convForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="datafile">個人住民税(特徴)ファイル(地銀協フォーマット)を選択してください</label>
      <input mdbInput type="file" id="datafile" accept=".txt" class="form-control" required (change)="onChangeFile($event)" />
    </div>
    <div class="form-group">
      <button mdbBtn type="submit" color="primary" size="lg" block="true" mdbWavesEffect>変換する</button>
    </div>
  </form>
</div>
